<% include ./partials/header %>

<div style="background-color: #000;">
    <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="https://c0.wallpaperflare.com/preview/740/508/1018/electronic-gaming-headphone-headset.jpg" style="width:100%">
      <div class="text">HeadPhones</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="https://c0.wallpaperflare.com/preview/316/361/238/black-logitech-g-series-gaming-mouse-on-red-surface.jpg" style="width:100%">
      <div class="text">Mouse</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="https://thumbs.dreamstime.com/b/back-lighted-computer-gaming-keyboard-rgb-gradient-colors-illuminated-red-to-green-dark-black-background-146750968.jpg" style="width:100%">
      <div class="text">Keyboard</div>
    </div>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>

    <script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000);
    }
    </script>
</div>

<div>
  <div class="three_box">
    <div class="container">
       <div class="row">
        <% data.forEach(function(product) { %>
          <div class="col-md-4">
             <div class="box_text">            
                <i><img src="data:image/<%= product.image.contentType%>;base64,<%= product.image.data.toString('base64')%>"
                   alt="<%- product.name %>" style="width:250px;height:200px;"/></i>
                <h3><%- product.name %></h3>
                <p><%- product.description %> </p>
                <p style="color:green;"><%- product.price %> Rs </p>
                <button>Add to Cart</button>
              </div>
          </div>
        <% }) %>
       </div>
    </div>
 </div>
</div>

<div class="center" >
  <% if (pages > 0) { %>
    <div class="center"></div>
    <div class="pagination">
    <% if(current == 1) { %>
    <a class="disabled">&laquo;</a>
    <% } else { %>
    <a href="/dashboard/1">&laquo;</a>
    <% } %>
    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
      <li class="disabled"></li>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% if (i == current) { %>
        <a class="active"><%= i %></a>
      <% } else { %>
        <a href="/dashboard/<%= i %>"><%= i %></a>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled"></li>
      <% } %>
    <% } %>
    <% if (current == pages) { %>
      <li class="disabled"></li>
    <% } else { %>
      <a href="/dashboard/<%= pages %>">&raquo;</a>
    <% } %>
    </div>
  </div>
  <% } %>
</div>


<br><br>

<% include ./partials/footer %>

